p{
    width: 350px;
    height: 220px;
    background-color: green;
    padding-top: 15;
    padding-left: 10;
    padding-right: 10;
    padding-bottom: 20;
    margin: 30;
    border: 2px dotted red;
}